::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: #11171a;
}

::-webkit-scrollbar-thumb {
	background-color: #263238;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #324047;
}