body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	background: #11171a;
}

body::-webkit-scrollbar-thumb {
	background-color: #263238;
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #25cfa5;
}

